@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Music DB</h1>
    <p class="lead">A database of my favorite artists and their collective works</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>
            View my artists here
        </p>
        <p><a class="btn btn-default" href="~/Artists/Index">See 'em &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>Checkout the artists albums!</p>
        <p><a class="btn btn-default" href="~/Albums/Index">Let's go &raquo;</a></p>
    </div>
  
</div>